<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <h2>To Do List</h2>
    <input type="text" v-model="str" v-on:keyup.enter="add">
    <!-- <button v-on:click="add">添加</button> -->
    <ul>
      <li v-for="(item, index) in arr">
        {{ item }}
        <button v-on:click="remove(index)">删除</button>
      </li>
    </ul>
  </div>

  <script src="../Vue.js"></script>
  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        arr: [
          'item1',
          'item2'
        ],
        str: ''
      },
      methods: {
        add() {
          // if (e.keyCode === 13) {
            this.arr.push(this.str);
            this.str = '';
          // }
          // console.log(this.str)
          // this.arr.push(this.str);
          // this.str = '';
        },
        remove(i) {
          // console.log(i);
          this.arr.splice(i, 1);
        }
      }
    })
  </script>

</body>
</html>